/* stylelint-disable docusaurus/copyright-header */

/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background: linear-gradient(216deg, rgba(135,38,136,1) 0%, rgba(236,29,74,1) 83%, rgba(239,190,2,1) 100%);
}

.hero__subtitle {
  font-size: 1.5em;
  margin-bottom: 0;
}

.hero__source {
  font-size: 1.2em;
}

.hero__source a {
  color: #efbe02;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
